*.class

# Package Files #
*.jar
*.war
*.ear

# IntelliJ Idea #
.idea
*.iml

# Ignore build target #
target

/global-groovy.log

/pom.xml.next

/pom.xml.releaseBackup

/pom.xml.tag

/release.properties

/soapui-errors.log

/soapui.log

*.versionsBackup
