<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="abstractSpannerAction" class="org.dontpanic.spanners.struts.SpannerAction" abstract="true"
           p:spannersDAO-ref="spannersDAO"/>

    <bean id="displaySpannersAction" class="org.dontpanic.spanners.struts.DisplaySpannersAction" parent="abstractSpannerAction"/>
    <bean id="spannerDetailAction" class="org.dontpanic.spanners.struts.SpannerDetailAction" parent="abstractSpannerAction"/>
    <bean id="createSpannerAction" class="org.dontpanic.spanners.struts.CreateSpannerAction" parent="abstractSpannerAction"/>
    <bean id="editSpannerAction" class="org.dontpanic.spanners.struts.EditSpannerAction" parent="abstractSpannerAction"/>
    <bean id="deleteSpannerAction" class="org.dontpanic.spanners.struts.DeleteSpannerAction" parent="abstractSpannerAction"/>
</beans>
