<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="header" class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> 
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span>
			</a> 
			<a class="brand" href="#">Spanners</a>
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li class="active"><a th:href="@{/displaySpanners}">Home</a></li>
				</ul>					
				<ul class="nav pull-right">
					<div sec:authorize="!isAuthenticated()">
						<li><a th:href="@{/login}">Sign in</a></li>
					</div>
					<div sec:authorize="isAuthenticated()">
						<div sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_PREVIOUS_ADMINISTRATOR')">
						<li><a th:href="@{/admin/switchUser}">Switch User</a></li>
						</div>
						<li><a th:href="@{/logout}">Logout (<span sec:authentication="principal.username"/>)</a></li>
					</div>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>
</div>
</html>