<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
	                             http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.0.xsd">

    <http auto-config="true" disable-url-rewriting="true" use-expressions="true">
        <form-login login-page="/signin" authentication-failure-url="/signin?error=1" default-target-url="/displaySpanners"/>
        <logout logout-url="/logout" />

        <!-- Enable user switching - admin users may view the site as another user -->
        <custom-filter position="SWITCH_USER_FILTER" ref="switchUserProcessingFilter" />

        <intercept-url pattern="/" access="permitAll" />
        <intercept-url pattern="/resources/**" access="permitAll" />
        <intercept-url pattern="/signin" access="permitAll" />
        <intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')" />
        <intercept-url pattern="/**" access="isAuthenticated()" />

        <!-- CSRF protection not yet supported in this app -->
        <csrf disabled="true"/>

        <!-- Display the custom 403 error page instead of throwing an exception -->
        <access-denied-handler error-page="/403" />

    </http>

    <authentication-manager>
        <authentication-provider>
            <user-service id="userDetailsService">
                <user name="viewOnly" password="password" authorities="ROLE_VIEWER" />
                <user name="smith" password="password" authorities="ROLE_VIEWER, ROLE_EDITOR" />
                <user name="jones" password="password" authorities="ROLE_VIEWER, ROLE_EDITOR" />
                <user name="admin" password="password" authorities="ROLE_VIEWER, ROLE_EDITOR, ROLE_ADMIN"/>
            </user-service>
        </authentication-provider>
    </authentication-manager>

    <!-- Enable security annotations on methods -->
    <global-method-security pre-post-annotations="enabled">
        <expression-handler ref="expressionHandler"/>
    </global-method-security>

    <beans:bean id="expressionHandler" class="org.springframework.security.access.expression.method.DefaultMethodSecurityExpressionHandler">
        <beans:property name="permissionEvaluator" ref="spannerPermissionEvaluator"/>
    </beans:bean>

    <beans:bean id="spannerPermissionEvaluator" class="org.dontpanic.spanners.security.SpannerPermissionEvaluator"/>

    <beans:bean id="switchUserProcessingFilter" class="org.springframework.security.web.authentication.switchuser.SwitchUserFilter">
        <beans:property name="userDetailsService" ref="userDetailsService"/>
        <beans:property name="switchUserUrl" value="/admin/impersonate"/>
        <beans:property name="targetUrl" value="/displaySpanners"/>
    </beans:bean>

</beans:beans>