<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns='http://www.springframework.org/schema/beans'
   xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
   xmlns:p='http://www.springframework.org/schema/p'
   xmlns:lang='http://www.springframework.org/schema/lang'
   xmlns:util="http://www.springframework.org/schema/util"
   xsi:schemaLocation='http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
      http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang-2.5.xsd
      http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd'>

    <bean id="endpoint" class="org.dontpanic.spannersws.Endpoint"
            p:spannersDAO-ref="spannersDAO"/>

    <bean class="org.springframework.ws.server.endpoint.mapping.UriEndpointMapping">
        <property name="defaultEndpoint" ref="endpoint"/>
        <property name="interceptors">
            <list>
                <ref bean="securityInterceptor"/>
            </list>
        </property>
    </bean>

    <!-- WSS Security interceptor - encrypt entire body of SOAP response -->
    <bean id="securityInterceptor" class="org.springframework.ws.soap.security.wss4j.Wss4jSecurityInterceptor"

          p:validateRequest="true"
          p:validationActions="Signature Encrypt Timestamp"
          p:validationSignatureCrypto-ref="crypto"
          p:validationDecryptionCrypto-ref="crypto"
          p:validationCallbackHandler-ref="validationCallbackHandler"

          p:secureResponse="true"
          p:securementActions="Timestamp Signature Encrypt"

          p:securementSignatureKeyIdentifier="DirectReference"
          p:securementUsername="myAlias"
          p:securementPassword="myPass"
          p:securementSignatureCrypto-ref="crypto"

          p:securementEncryptionUser="myAlias"
          p:securementEncryptionKeyIdentifier="Thumbprint"
          p:securementEncryptionCrypto-ref="crypto"
          p:securementEncryptionSymAlgorithm="http://www.w3.org/2001/04/xmlenc#aes128-cbc"
          p:securementEncryptionKeyTransportAlgorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5"/>

    <bean id="validationCallbackHandler" class="org.springframework.ws.soap.security.wss4j.callback.KeyStoreCallbackHandler"
          p:privateKeyPassword="myPass"/>

    <bean id="crypto" class="org.springframework.ws.soap.security.wss4j.support.CryptoFactoryBean"
          p:keyStorePassword="myPass"
          p:keyStoreLocation="/WEB-INF/crypto.keystore"/>

    <!-- WSDL definition -->
    <bean id="spannersws" class="org.springframework.ws.wsdl.wsdl11.DefaultWsdl11Definition"
          p:schema-ref="schema"
          p:portTypeName="SpannersWS"
          p:locationUri="/spannersws"
          p:targetNamespace="http://dontpanic.org/ws/spannersws"/>

    <!-- WSDL schema -->
    <bean id="schema" class="org.springframework.xml.xsd.SimpleXsdSchema"
          p:xsd="/WEB-INF/spanners.xsd"/>

</beans>