<div class="panel panel-primary">
  <div class="panel-heading">&nbsp;</div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Size</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let spanner of spanners">
        <td>{{spanner.name}}</td>
        <td>
          {{spanner.size}}
          <a routerLink="/detail-spanner/{{spanner.id}}">
            <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
