body
{
	margin: 20px;
	padding: 0;
	font: 100%/1.3 helvetica, arial, sans-serif;
	color: #444;
	background: #fff;
}

h1, h2, h3, h4, h5, h6
{
	margin: 0 0 1em;
	line-height: 1.1;
}

h2, h3 { color: #003d5d; }
h2 { font-size: 218.75%; }
h3 { font-size: 137.5%; }
h4 { font-size: 118.75%; }
h5 { font-size: 112.5%; }
p { margin: 0 0 1em; }
img { border: none; }
a:link { color: #035389; }
a:visited { color: #09619C; }

a:focus
{
	color: #fff;
	background: #000;
}

a:hover { color: #000; }

a:active
{
	color: #cc0000;
	background: #fff;
}

table
{
	margin: 1em 0;
	border-collapse: collapse;
	width: 100%;
}

table caption
{
	text-align: left;
	font-weight: bold;
	padding: 0 0 5px;
	text-transform: uppercase;
	color: #236271;
}

table td, table th
{
	text-align: left;
	border: 1px solid #b1d2e4;
	padding: 5px 10px;
	vertical-align: top;
}

table th { background: #ecf7fd; }

blockquote
{
	background: #ecf7fd;
	margin: 1em 0;
	padding: 1.5em;
}

blockquote p.source
{
	margin: 0;
	font-size: 87.5%;
	padding: 2px 0 5px 25px;
	background: url(../images/icon-tweet.gif) no-repeat;
}

code
{
	background: #ecf7fd;
	font: 115% courier, monaco, monospace;
	margin: 0 .3em;
}

abbr, acronym
{
	border-bottom: .1em dotted;
	cursor: help;
}